@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");

    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");

    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    width: 1200px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #333333;
    background-color: #f2f2f2;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

.page-header {
    color: #000000;
    background-color: #FFFFFF;
    width: 1200px;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 370px;
    margin-right: 90px;
    margin-left: 59px;
    list-style-type: none;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 6px 12px;
    margin: 13px 8px 14px 0;
    position: relative;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:focus {
    outline: solid 3px #83B3D3; 
    outline-offset: 6px;
    border-radius: 10px;
    color: #756257;
}

.navigation-link:active {
    color: #756257;
    opacity: 30%;
    outline: none;
}

.button {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    background-color: #756257;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.navigation-link-button {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 160px;
    padding: 8px 0;
    margin: 0;
    margin-top: 13px;
    border-radius: 4px;
}

.navigation-link-button:hover {
    background-color: #615048;
    outline: none;
}

.navigation-link-button:focus {
    background-color: #615048;
    box-shadow: 0 0 1px 3px #83B3D3;
    border-radius: 4px;
    outline: none;
}

.navigation-link-button:active {
    background-color: #615048;
    color: rgb(255 255 255 / 30%);
    border: none;
    outline: none;
}

.navigation-link-current::before {
    position: absolute;
    transform: translateY(14px);
    right: 12px;
    bottom: 0;
    left: 12px;
    height: 2px;
    background-color: #756257;
    content: "";
}

.navigation-header-logo {
    width: 138px;
    position: absolute;
    transform: translateX(531px);
}

img {
    display: block;
}

.navigation-user {
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 300px;
    margin-right: 72px;
    margin-left: auto;
    list-style-type: none;
}

.navigation-user .navigation-link:first-child {
    fill: #000000;
    display: block;
    padding: 23px 16px;
    min-width: 18px;
    min-height: 18px;
    position: relative;
    transform: translateX(-12px);
    margin: 13px 10px 11px 5px;
    padding: 10px 10px;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
}

.navigation-link:hover .navigation-icon {
    fill: #756257;
}

.navigation-user .navigation-link:first-child:focus {
    box-shadow: inset 0 0 1px 3px #83B3D3;
    border-radius: 10px;
    outline: none;
}

.navigation-user .navigation-link:active {
    color: #756257;
    opacity: 30%;
    border: none;
    outline: none;
}

.navigation-user .navigation-form {
    display: block;
    padding: 10px;
    margin: 14px 9px 13px 0;
    min-width: 18px;
    min-height: 18px;
    position: relative;
    fill: #000000;
}

.navigation-form:hover .navigation-icon {
    fill: #756257;
}

.navigation-form:focus .navigation-icon {
    fill: #756257;
}

.navigation-user .navigation-link:first-child:focus svg {
    fill: #756257;
}

.navigation-user .navigation-form:focus {
    fill: #756257;
    box-shadow: inset 0 0 1px 3px #83B3D3;
    border-radius: 10px;
    outline: none;
}

.navigation-user .navigation-form:active { 
    color: #756257;
    opacity: 30%;
    border: none;
    outline: none;
} 
.navigation-select {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    padding: 3px 4px;
    text-align: center;
    color: #FFFFFF;
    background-color: #7DB54F;
    border-radius: 50px;
    position: absolute;
    transform: translate(2px, -9px);
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.index-welcome {
    background-color: #FFFFFF;
    background-image: url(../img/index-background.jpg);
    background-repeat: no-repeat;
}

.main-welcome {
    display: block;
    margin: 0 auto;
    padding: 52px;
    padding-bottom: 25px;
}

.advantages {
    background-color: #FFFFFF;
    color: #333333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.advantages-heading {
    padding: 62px 240px 79px;
}

.highlight {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 8px;
    margin: 0;
    margin-bottom: 23px;
    width: 720px;
}

.advantages-text {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    width: 720px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-advantages {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.advantages-list .advantages-item:nth-of-type(4n+1) {
    width: 400px;
    color: #FFFFFF;
    background-color: #83B3D3;
    margin: 0;
    padding-top: 98px;
    padding-bottom: 77px;
}

.advantages-item:nth-of-type(4n+1) .advantages-description {
    width: 220px;
    margin: 0 90px;
}

.advantages-list .advantages-item:nth-of-type(2n+6) {
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
    padding-top: 98px;
    padding-bottom: 77px;
}

.advantages-list .advantages-item:nth-of-type(7) {
    width: 400px;
    background-color: rgba(131, 179, 211, 0.2);
    padding-top: 98px;
    padding-bottom: 77px;
}

.list-advantages .item-advantages:not(:nth-child(2)) {
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
    padding-top: 184px;
    padding-bottom: 79px;
}


.list-advantages .item-advantages:nth-child(2) {
    width: 400px;
    background-color: #FFFFFF;
    padding-top: 184px;
    padding-bottom: 79px;
}

.advantages-item .list-advantages {
    width: 1200px;
}

.list-advantages .advantages-title {
    width: 250px;
    margin: 0 75px;
    margin-bottom: 20px;
}

.advantages-list .advantages-item-img {
    width: 800px;
}

.list-advantages .item-advantages:first-child {
    background-image: url("../img/icon/home-icon.svg");
    background-repeat: no-repeat;
    background-size: 75px 72px;
    background-position: 163px 89px;
}

.list-advantages .item-advantages:nth-child(2) {
    background-image: url("../img/icon/food-icon.svg");
    background-repeat: no-repeat;
    background-size: 74px 70px;
    background-position: 163px 91px;
}

.list-advantages .item-advantages:nth-child(3) {
    background-image: url("../img/icon/present-icon.svg");
    background-repeat: no-repeat;
    background-size: 64px 76px;
    background-position: 168px 85px;
}

.advantages-title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    width: 400px;
    min-height: 60px;
    margin-top: 0;
    margin-bottom: 25px;
}

.advantages-title-white {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
    width: 400px;
    min-height: 60px;
}

.item-advantages .advantages-title {
    min-height: 28px;
}

.advantages-number {
    margin: 0 75px 26px;
    width: 250px;
    min-height: 25px;
    text-align: center;
}

.advantages-description {
    margin: 0 75px;
    width: 250px;
    text-align: center;
    min-height: 73px;
}

.item-advantages .advantages-description {
    margin: 0 75px;
    width: 250px;
    text-align: center;
    min-height: 73px;
}

.icon {
    margin: 0 auto 23px;
}

.search-hotels {
    font-size: 22px;
    line-height: 26px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 91px 240px;
}

.search-hotels .highlight {
    margin-top: 0;
    margin-bottom: 15px;
    width: 720px;
    min-height: 50px;
    padding: 0;
    text-align: center;
}

.search-text {
    text-align: center;
    margin-top: 0;
    margin-bottom: 73px;
    width: 720px;
    max-height: 37px;
}

.button-search {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    background-color: #756257;
    color: #FFFFFF; 
    text-align: center;  
    margin: 0;
    width: 575px;
    height: 60px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 0;
}

.button-search:hover {
    background-color: #615048;
    outline: none;
}

.button-search:focus {
    background-color: #615048;
    box-shadow: inset 0 0 1px 3px #83B3D3;
    outline: none;
}

.button-search:active {
    background-color: #615048;
    color: rgb(255 255 255 / 30%);
    outline: none;
}

.newsletter {
    background-color: #FFFFFF;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    padding: 94px 200px 93px;
}

.newsletter-highlight {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 40px 15px;
    width: 720px;
    min-height: 50px;
}

.newsletter-text {
    margin: 0 40px 26px;
    width: 720px;
    min-height: 72px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 800px;
}

.field::placeholder {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    opacity: 0.6;
}

.field {
    background-color: #f2f2f2;
    width: 600px;
    border-radius: 10px 0 0 10px;
    border: 0;
    padding-left: 22px;
}

.field:active::placeholder {
    opacity: 1;
}

.field:invalid::placeholder {
    opacity: 0.6;
}

.field:hover {
    background-color: #e6e6e6;
}

.field:focus {
    background-color: #e6e6e6;
    box-shadow: 0 0 1px 3px #83B3D3;
    border-radius: 10px 0 0 10px;
    outline: none;
}

.field:active {
    background-color: #FFFFFF;
    box-shadow: inset 0 0 1px 2px #000000;
    border-radius: 10px 0 0 10px;
}

.field:invalid {
    background-color: #FFFFFF;
    box-shadow: inset 0 0 1px 2px #ff5757;
    border-radius: 10px 0 0 10px;
}

.button-newsletter {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 60px;
    border-radius: 0 10px 10px 0;
    border: 0;
    padding-left: 22px;
    flex-shrink: 0;
}

.button-newsletter:hover {
    background-color: #68A2CA;
    outline: none;
}

.button-newsletter:focus {
    background-color: #68A2CA;
    box-shadow: inset 0 0 1px 3px #756257;
    outline: none;
}

.button-newsletter:active {
    background-color: #68A2CA;
    color: rgb(255 255 255 / 30%);
    outline: none;
}

.page-footer {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.footer-social {
    max-width: 140px;
    margin-right: auto;
    margin-left: 58px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    width: 42px;
    height: 48px;
    margin-right: 5px;
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

.link {
    position: relative;
    min-width: 10px;
    min-height: 14px;
    padding: 31px 8px;
    display: block;
    fill: #83B3D3;
}

.footer-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #83B3D3;
}

.link:hover .footer-icon {
    fill: #68A2CA;
    outline: none;
}

.link:focus .footer-icon {
    fill: #68A2CA;
}

.link:focus {
    fill: #68A2CA;
    box-shadow: inset 0 0 1px 3px #83B3D3;
    border-radius: 10px;
    padding: 10px;
    margin: 21px 0;
    outline: none;
}

.link:active {
    fill: #68A2CA;
    opacity: 30%;
    outline: none;
}

.container-fone {
    width: 720px;
    min-height: 50px;
    padding-top: 20px; 
    padding-bottom: 10px;
}

.footer-contact-fone {
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-contact-fone:hover {
    color: #756257;
    outline: none;
}

.footer-contact-fone:focus {
    color: #756257;
    box-shadow: inset 0 0 1px 3px #83B3D3;
    border-radius: 10px;
    padding: 15px;
    outline: none;
}

.footer-contact-fone:active {
    color: #756257;
    opacity: 30%;
    outline: none;
}

.footer-link-logo {
    height: 70px;
    padding: 22px 14px;
    margin-right: 58px;
    margin-left: 53px;
    width: 159px;
    fill: #000000;
    position: relative;
    box-sizing: border-box;
}

.footer-logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
}

.footer-link-logo:hover .footer-logo {
    fill: #756257;
    outline: none;
}

.footer-link-logo:focus {
    box-shadow: inset 0 0 1px 3px #83B3D3;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.footer-link-logo:focus .footer-logo {
    fill: #756257;
    outline: none;
}

.footer-link-logo:active {
    color: #756257;
    opacity: 30%;
    outline: none;
    outline: none;
}

.page-container-catalog {
    background-color: #FFFFFF;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 137px;
}

.main-catalog-filter {
    background-color: #FFFFFF;
    background-image: url(../img/catalog/catalog-background\ 1.jpg);
    background-repeat: no-repeat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 35px 72px 83px 71px;
    margin-bottom: 44px;
}

.catalog-filter-list {
    list-style-type: none;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    max-height: 68px;
    margin-top: 0;
    margin-bottom: 1px;
    text-align: left;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 35px;
}

.breadcrumbs-item {
    /* width: 18px; */
    /* height: 20px; */
    margin-right: 6px;
}

.breadcrumbs-item:nth-child(3) {
    margin-right: 0;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px 5px;
    display: block;
}

.catalog-filter-container{
    display: flex; 
    margin: 0 auto;
    width: 1056px;
}

.catalog-filter-group {
    border: 0;
    max-width: 160px;
    padding: 0;
}

.catalog-filter-group:first-child {
    margin-right: 57px;
}

.catalog-filter-group:nth-child(2) {
    margin-right: auto;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
}

.control {
    display: grid;
    grid-template-columns: 20px min-content;
    margin-bottom: 13px;
}

.catalog-filter-item:last-child .control {
    margin: 0;
}

.control-label {
    grid-column: 2 / 3;
    white-space: nowrap;
}

.catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
}

.button-filter-container .catalog-filter-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 287px;
    max-width: 287px;
    margin-right: 87px;
}

.catalog-filter-group .catalog-filter-title {
    margin-bottom: 34px;
    margin-right: auto;
}

.catalog-filter-input {
    width: 139px;
    height: 48px;
    padding: 0;
    border: 2px solid #FFFFFF;
}

.catalog-filter-label:first-of-type .catalog-filter-input {
    border-radius: 4px 0 0 4px;
}

.catalog-filter-label:nth-of-type(2) .catalog-filter-input {
    border-radius: 0 4px 4px 0;
}

.catalog-filter-input::placeholder {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    opacity: 0.3;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.button-filter {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.reset-catalog {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.select-control {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.catalog-hotels {
    background-color: #FFFFFF;
    color: #333333;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.highlight-catalog {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
    margin: 6px auto 3px 0;
}

.sorting-type{
    margin-right: 81px;
    width: 287px;
}

.button-light {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    border: 2px solid #E5E5E5;
    cursor: pointer;
}

.button-light-current {
    border: 2px solid #000000;
}

.button-light:last-child{
    margin-right: 0;
}

.hotels-list {
    width: 1056px;
    align-self: center;
    margin-top: 0;
    margin-bottom: 31px;
    padding: 0;
} 

.hotel-card { 
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 31px;
    padding-bottom: 31px;
} 

.hotel-card-link {
    margin-right: 37px;
    width: 180px;
}

.container-card-hotel {  
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    margin-bottom: 1px;
}

.card-container {
    width: 839px;
    margin: 0;
    padding: 0;
}

.stars-container {
    width: 160px;
    text-align: center;
    display: flex;
    margin: 0;
    padding: 0ch;
    justify-content: center;
}

.card-hotel-container {
    display: flex;
    margin: 0;
    padding: 0;
}

.hotel-info {
    display: flex;
    margin-bottom: 31px;
    
}

.hotel-card-info {
    margin-right: 8px;
    width: 151px;
    text-align: left;
}

.card-hotel-container .button {
    margin-right: 8px;
    width: 151px;
}

.button-upload {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: auto;
    width: 160px;
    padding-top: 9px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
}

.catalog-sorting-container {
    display: flex;
    margin: 0 72px 42px 71px;
    padding: 0;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
}

.hotel-rating {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #f2f2f2;
    width: 160px;
    padding-top: 9px;
    padding-bottom: 10px;
}

.button-uploaded {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background-color: #7DB54F;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: auto;
    width: 160px;
    padding: 9px 0 10px;
    border: none;
    cursor: pointer;
}

.button-pagination-load-more {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    background-color: #83B3D3;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 61px;
    align-self: center;
    width: 625px;
    height: 55px;
    border: none;
    cursor: pointer;
}

.pagination-container{
    display: flex;
    margin: 0 auto;
    margin-bottom: 89px;
    width: 1056px;
    justify-content: space-between;
    align-self: center;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: auto;
    list-style-type: none;
}

.pagination-item {
    margin-right: 8px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: bold;
    width: 55px;
    height: 55px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
}

.pagination-current {
    background-color: #f2f2f2;
    color: #000000;
}

.hotel-display {
    display: flex;
    margin: 3px 0 4px;
    padding: 0;
}

.hotels-display-page {
    margin-right: 51px;
}

.select-control {
    display: flex;
    margin: 0;
    padding: 0;
    width: 160px;
}

.newsletter-catalog {
    background-color: #FFFFFF;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin: 0 200px;
}

.newsletter-highlight-catalog {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    margin-top: 0;
    margin-bottom: 15px;
}

.newsletter-text-catalog {
    margin-top: 0;
    margin-bottom: 26px;
    color: #333333;
}

.newsletter-text {
    margin-top: 0;
    margin-bottom: 26px;
    width: 720px;
}